html,
body {
    margin: 0;
}

:root {
    --primary-color:#131842;;
    --secondary-color: #E68369;
    --accent-color: #ECCEAE;
    --text-color: #FBF6E2;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    letter-spacing: .5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

html {
    scroll-behavior: smooth;
}

.headerinfo {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-weight: 300;
    font-size: 42px;
    margin: 0;
    padding: 20px 0;
}

.mainFoto {
    padding: 5px;
    border-radius: 50%;
}

h2 {
    color: #E68369;
    padding: 10px 0 20px;
    border-bottom: 1px solid #eee;
    margin: 30px auto 20px;
    text-align: center;
    font-weight: 300;
}

#name {
    width: 300px;
    margin: 0 auto;
    font-size: 35px;
}

.aboutMe {
    width: 90%;
    font-size: 18px;
}

.navibar {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--accent-color) 0%, var(--secondary-color)100%);
    margin-top: 20px;
    display: flex;
}

.navi_links {
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
}

.navi_links a {
    text-decoration: none;
    color:var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    font-weight: 1000;
}

.navi_links a:hover {
    color:var(--accent-color);
}

.mainSections {
    width: 50%;
}

@media (max-width: 460px) {
    .mainSections {
        width: 100%;
        margin: 0 30px;
    }
}

@media (max-width: 460px) {
    .navi_links {
        width: 100%;
        margin: 30px 0;
    }
}

@media (max-width: 460px) {
    .skillsAll {
        margin: 0 30px;
    }
}

@media (max-width: 460px) {
    .headerinfo {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .navi_links a {
        font-size: 12px;
    }
}

.expierenceContainer {
    width: 100%;
    display: flex;
}

.expierenceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 20px;
}


.acordeon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 26px;
    color: var(--text-color);


}

.acordeon p {
    padding: 0 15px;
    font-size: 18px;
    font-weight: 800;
}

.acordeon:hover {
    background-image: linear-gradient(to bottom, var(--accent-color) 0%, var(--secondary-color)100%);
} 

.acordeon::after {
    font-family: "bootstrap-icons";
    content: "\F4FE";
    font-size: 40px;
}

.desc {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:var(--primary-color);
    width: 100%;
    text-align: left;
  
}

.acordeon.active+.desc {
    max-height: 200px;
    /* Set a fixed height that suits your content */
}

.active::after {
    font-family: "bootstrap-icons";
    content: "\F4FE";
    font-size: 50px;
    transform: rotate(45deg);
}

.desc li:last-child {
    padding: 0 0 10px 10px;
}

.desc li {
    padding: 0 10px;
}


.skillsAll {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 20px;
}

.skills {
    width: 80%;
    color:var(--text-color);
    list-style: none;
}


.box {
    background: var(--text-color);
    display: block;
    height: 4px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px;
    /* flex-grow: 1; */
}

.skills h3 {
    font-size: 18px;
    margin-right: 20px;
       
}

.box span {
    height: 12px;
    float: left;
    background: var(--primary-color);
}

.html {
    width: 50%;
    animation: html 3s;
}

.javascript {
    width: 50%;
    animation: javascript 3s;
}

.typecript {
    width: 50%;
    animation: typecript 3s;
}

.angular {
    width: 60%;
    animation: angular 3s;
}

.json {
    width: 50%;
    animation: json 3s;
}

.sql {
    width: 50%;
    animation: sql 3s;
}

.node {
    width: 50%;
    animation: node 3s;
}

.git {
    width: 30%;
    animation: git 3s;
}

.analytic {
    width: 90%;
    animation: analytic 3s;
}

.communication {
    width: 90%;
    animation: communication 3s;
}

.learning {
    width: 90%;
    animation: learning 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes typecript {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes angular {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes json {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes analytic {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes communication {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes learning {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.interests {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.icons i {
    font-size: 50px;
    padding: 20px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
}

.icons p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts {
    margin: 30px;
    display: flex;
    justify-content:space-between;
    padding-bottom: 100px;
    
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.contacts i,a {
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}